classes/vorislik.py
classes/__pycache__/erp.cpython-314.pyc
mini projects/online_shop.py
some_exercises/__pycache__/
some_exercises/test.py
some_exercises/test2.py
taxi_park/
mini projects/taks_park.py